.SmallFloater {
  display: flex;
  width: 100px;
  position: fixed;
  z-index: 2147483647;
  min-height: 60px;
  height: 60px;
  background-color: yellow;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 25px;
  /* justify-content: flex-end; */
  justify-content: space-between;

  box-shadow: 5px 5px 8px red, 10px 10px 8px green, 15px 15px 8px yellow;
  opacity: 0.95;
}

.SmallFloaterHasComments {
  display: flex;
  width: 100px;
  position: fixed;
  z-index: 2147483647;
  min-height: 60px;
  height: 60px;
  background-color: green;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 25px;
  /* justify-content: flex-end; */
  justify-content: space-between;

  box-shadow: 5px 5px 8px red, 10px 10px 8px green, 15px 15px 8px yellow;
  opacity: 0.95;
  animation-name: hasComments;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-iteration-count: 2;
}

.SmallFloaterHasDanger {
  display: flex;
  width: 100px;
  position: fixed;
  z-index: 2147483647;
  min-height: 60px;
  height: 60px;
  background-color: red;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 25px;
  /* justify-content: flex-end; */
  justify-content: space-between;

  box-shadow: 5px 5px 8px red, 10px 10px 8px green, 15px 15px 8px yellow;
  opacity: 0.95;
  animation-name: hasDanger;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-iteration-count: 2;
}

.SmallFloaterHasWarning {
  display: flex;
  width: 100px;
  position: fixed;
  z-index: 2147483647;
  min-height: 60px;
  height: 60px;
  background-color: orange;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 25px;
  /* justify-content: flex-end; */
  justify-content: space-between;

  box-shadow: 5px 5px 8px red, 10px 10px 8px green, 15px 15px 8px yellow;
  opacity: 0.95;
  animation-name: hasWarnings;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-iteration-count: 2;
}

@keyframes hasComments {
  0% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: green;
  }
}

@keyframes hasDanger {
  0% {
    background-color: red;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: red;
  }
}

@keyframes hasWarnings {
  0% {
    background-color: orange;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: orange;
  }
}