.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.title {
  font-family: "Lucida Console", "Courier New", monospace;
  color: red;
  padding-top: 14px;
  font-weight: bold;
}

.headerLink {
  color: green;
  cursor: pointer;
  font-weight: 600;
}

.maximiseMinimize {
  display: flex;
  width: 80px;
  justify-content: space-between;
  padding-right: 8px;
}